<div class="flex flex-col gap-4 divide-y divide-[var(--surface-border)]">

    <!-- Section Active Servers, Connected Players, TPS Performance -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <app-stats-active-servers [minigame]="minigame"/>
        <app-stats-connected-players [minigame]="minigame"/>
        <app-stats-tps-performance [minigame]="minigame"/>
    </div>

    <!-- Section Global Stats -->
    <div class="py-6">
        <div class="grid grid-cols-1 xl:grid-cols-3 divide-y xl:divide-y-0 xl:divide-x divide-[var(--surface-border)]">
            <app-stats-graph-tps [minigame]="minigame"/>
            <app-stats-graph-ram [minigame]="minigame"/>
            <app-stats-graph-cpu [minigame]="minigame"/>
        </div>
    </div>

</div>
