:host ::ng-deep {
    .p-datatable {
        .p-datatable-thead > tr th {
            background: transparent;
        }

        .p-datatable-tbody > tr {
            background: transparent;
        }

        .p-datatable-tbody > tr.p-datatable-row-selected > td,
        .p-datatable-tbody > tr:has(+ .p-datatable-row-selected) > td {
            border-bottom-color: var(--p-datatable-body-cell-border-color);
        }

        .p-paginator {
            background: transparent;
        }

        .p-tag.p-tag-success {
            background-color: var(--p-green-100);
            color: var(--p-green-800);
        }

        .p-tag.p-tag-warning {
            background-color: var(--p-orange-100);
            color: var(--p-orange-800);
        }

        .p-tag.p-tag-danger {
            background-color: var(--p-red-100);
            color: var(--p-red-800);
        }

        .ram-low .p-progressbar-value {
            background-color: var(--p-blue-500);
        }

        .ram-medium .p-progressbar-value {
            background-color: var(--p-blue-600);
        }

        .ram-high .p-progressbar-value {
            background-color: var(--p-red-500);
        }

        .cpu-low .p-progressbar-value {
            background-color: var(--p-green-500);
        }

        .cpu-medium .p-progressbar-value {
            background-color: var(--p-orange-500);
        }

        .cpu-high .p-progressbar-value {
            background-color: var(--p-red-500);
        }
    }
}
