<!-- TPS Stats -->
<div class="pb-6 xl:pb-0 xl:pr-6 min-w-80">
    <div class="flex items-start justify-between gap-2 mb-2">
        <div>
            <span class="label-medium text-surface-500">TPS Moyen</span>
            <div class="flex items-center gap-3.5 mt-2">
                <span class="title-h7">{{ minigame.stats.avgTps.toFixed(1) }}</span>
                <p-tag severity="success" value="+3.2%"/>
            </div>
        </div>
        <p-select [(ngModel)]="selectedRange" [options]="ranges" optionLabel="name"
                  placeholder="Période" size="small" class="w-32"/>
    </div>
    <line-chart
        [datasets]="tpsDataset"
        [bgColor]="tpsBgColor"
        [borderColor]="tpsBorderColor"
        [option]="selectedRange.unit"
        class="!max-h-40"
    />
</div>
