@for (data of datasets; track trackByFn(); let idx = $index) {
    <div [ngClass]="data.className" class="min-w-80">
        <div class="flex items-start justify-between gap-2 mb-2">
            <div>
                <span class="label-medium text-surface-500">{{ data.cardData.title }}</span>
                <div class="flex items-center gap-3.5 mt-2">
                    <span class="title-h7">{{ data.cardData.value }}</span>
                    <p-tag [severity]="data.cardData.positive ? 'success' : 'danger'" [value]="data.cardData.percent + '%'" />
                </div>
            </div>
            <p-select [(ngModel)]="selectedRange[idx]" [options]="ranges" optionLabel="name" placeholder="Select a Month" class="w-24" />
        </div>
        <line-chart [datasets]="data.datasets" [bgColor]="bgColor(data)" [borderColor]="borderColor(data)" [option]="option(idx)" tooltipPrefix="$" class="!max-h-40" />
    </div>
}
