<div class="pt-6 xl:pt-0 xl:pl-6 min-w-80">
    <div class="flex items-start justify-between gap-2 mb-2">
        <div>
            <span class="label-medium text-surface-500">Utilisation CPU</span>
            <div class="flex items-center gap-3.5 mt-2">
                <span class="title-h7">{{ minigame.stats.avgCpuUsage.toFixed(1) }}%</span>
                <p-tag severity="warn" value="+4.7%"/>
            </div>
        </div>
        <p-select [(ngModel)]="selectedRange" [options]="ranges" optionLabel="name"
                  placeholder="Période" size="small" class="w-32"/>
    </div>
    <line-chart
        [datasets]="cpuDataset"
        [bgColor]="cpuBgColor"
        [borderColor]="cpuBorderColor"
        [option]="selectedRange.unit"
        class="!max-h-40"
    />
</div>
