:host {
    display: block;
}

:host ::ng-deep {
    .p-card {
        .p-card-body {
            padding: 1.25rem;
        }

        .p-card-content {
            padding: 0;
        }
    }

    .p-tag {
        padding: 0.25rem 0.5rem;

        .p-tag-label {
            line-height: 1.5;
            font-weight: 600;
            font-size: 0.875rem !important;
        }
    }

    .p-select {
        padding-right: 0.375rem;
        border-radius: 0.5rem;

        .p-select-label {
            padding: 0.25rem 0.25rem 0.25rem 0.5rem;
            font-weight: 500;
            font-size: 0.875rem;
            color: var(--text-surface-950);
        }

        .p-select-dropdown {
            width: 0.75rem;

            .p-select-dropdown-icon {
                width: 0.75rem;
                color: var(--text-surface-950);
            }
        }

        .p-select-option {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            font-weight: 500;
        }
    }
}
