<div class="flex lg:flex-row flex-col lg:items-center justify-between mb-4 w-full gap-6">
    <div class="flex-1">
        <div class="label-medium">Jeux</div>
        <span class="mt-1 body-xsmall">Liste des jeux de BastionMC</span>
    </div>
    <p-icon-field>
        <p-inputicon class="pi pi-search"/>
        <input pInputText class="!rounded-lg !py-1.5 !w-56" [(ngModel)]="tableSearch" placeholder="Recherche"/>
    </p-icon-field>
</div>
<div class="w-full overflow-hidden">
    <p-table
        [value]="minigames"
        [rows]="7"
        [paginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Page {currentPage} sur {totalPages}"
        [(selection)]="selectedMinigames"
        dataKey="id"
        [tableStyle]="{ 'min-width': '90rem' }"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Serveurs</th>
                <th>Lancement</th>
                <th>TPS</th>
                <th>Joueurs</th>
                <th>RAM/CPU</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-minigame>
            <tr [pSelectableRow]="minigame">
                <td>
                    <div class="body-xsmall text-left">
                        {{ minigame.id }}
                    </div>
                </td>
                <td>
                    <div class="body-xsmall font-medium text-left">
                        {{ minigame.name }}
                    </div>
                </td>
                <td>
                    <div class="body-xsmall text-left">
                        {{ minigame.servers }}
                    </div>
                </td>
                <td>
                    <div class="body-xsmall text-left">
                        {{ minigame.launchTime }} sec
                    </div>
                </td>
                <td>
                    <div class="flex justify-center">
                        <p-tag [severity]="$any(getTpsSeverity(minigame.tps))" [value]="minigame.tps.toFixed(1)"
                               styleClass="!px-2 !py-1 !rounded-lg"/>
                    </div>
                </td>
                <td>
                    <div class="body-xsmall text-left">
                        {{ minigame.players }}
                    </div>
                </td>
                <td>
                    <div class="body-xsmall text-left">
                        {{ minigame.resources.ram }} | {{ minigame.resources.cpu }}
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-2 justify-end">
                        <button pButton icon="pi pi-play" class="p-button-sm p-button-success"
                                (click)="launchServer(minigame)" title="Lancer le serveur"></button>
                        <button pButton icon="pi pi-info-circle" class="p-button-sm p-button-info"
                                (click)="viewDetails(minigame)" title="Voir les détails"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
