<section
    class="flex flex-col [&>*]:py-8 [&>*:first-child]:!pt-0 [&>*:last-child]:!pb-0 divide-y divide-[var(--surface-border)]">
    <div *ngIf="loading" class="flex justify-center items-center py-8">
        <p-progressSpinner animationDuration=".5s" fill="var(--surface-ground)" strokeWidth="4" styleClass="w-12 h-12"/>
    </div>

    <div *ngIf="!loading">
        <app-minigame-grid></app-minigame-grid>
    </div>

    <div *ngIf="!loading">
        <app-server-list></app-server-list>
    </div>
</section>

<p-toast></p-toast>
